body {
  margin: 0;
  padding: 0;
}

.body-shade {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  z-index: 1;
}

.dark {
  background-color: black;
  color: white;
}

nav {
  border-bottom: 1px solid #ebebeb;
}

.select {
  width: 100%;
  background-color: #c2ddff;
  padding: 10px;
}

.select-card {
  background: none;
  border: none;
}

.select-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  padding: 10px;
}

#mta-logo {
  max-width: 65px;
}

#icon {
  width: 1.5em;
  vertical-align: text-bottom;
}

#content {
}

.dash {
  grid-area: main;
  padding: 20px 0;
  min-width: 60vh;
}

.right {
  grid-area: right;
  padding: 20px 0;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.425);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.header {
  font-size: 1.5em;
}

.time {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.712);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s ease;
}

.load {
  border: 6px solid #ccc;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-top-color: rgb(56, 64, 179);
  border-left-color: rgb(56, 64, 179);
  animation: spin 1s infinite ease-in-out;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 10px;
}

.nav-head h1 {
  font-weight: bold;
}

.active {
  border: 1px solid #86efac;
  border-radius: 15px;
  background-color: #bbf7d0;
  font-size: 1rem;
  padding: 7px;
}

.expired {
  border: 1px solid #fca5a5;
  border-radius: 15px;
  background-color: #fecaca;
  font-size: 1rem;
  padding: 7px;
}

#trains {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.train-icon {
  width: 2rem;
}
.train-icon:hover {
  cursor: pointer;
}

.stations-container {
  grid-area: stations;
}
.stations {
  max-height: 50vh;
  overflow: auto;
}
.station-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d5db;
  padding: 10px;
  margin: 5px 0 5px 0;
  cursor: pointer;
}

.on {
  opacity: 1;
}

.off {
  opacity: 0.5;
}

.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#no-alerts {
  width: 20%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  #content {
    max-width: 100%;
  }
}
